.ng-data-picker {
  font-size: 1rem;
  height: 10em;
  position: relative;
  background-color: white;
  overflow: hidden;

  &.black {
    color: white;
  }

  .picker-item {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
    will-change: transform;
    contain: strict;
    height: 2em;
    line-height: 2;
    font-size: 1em;
  }

  .picker-list {
    height: 6.25em;
    position: relative;
    top: 4em; // half of picker height - half of item height
  }

  .picker-group {
  }

  .selected-item {
  }

  .picker-handle-layer {
    position: absolute;
    width: 100%;
    height: calc(100% + 2px);
    left: 0;
    right: 0;
    top: -1px;
    bottom: -1px;
  }

  .picker-handle-layer .picker-top {
    border-bottom: 0.55px solid rgba(74, 73, 89, 0.5);
    background: linear-gradient(to bottom, white 2%, rgba(255, 255, 255, 0.1) 100%);
    transform: translate3d(0, 0, 5.625em);
  }

  .picker-handle-layer .picker-middle {
    height: 2em;
  }

  .picker-handle-layer .picker-bottom {
    border-top: 0.55px solid rgba(74, 73, 89, 0.5);
    background: linear-gradient(to top, white 2%, rgba(255, 255, 255, 0.1) 100%);
    transform: translate3d(0, 0, 5.625em);
  }
}

/* flex system */
.flex-box {
  display: flex;

  &.dir-column {
    flex-direction: column;
  }

  &.dir-row {
    flex-direction: row;
  }

  @for $i from 1 through 12 {
    .weight-#{$i} {
      flex: $i;
    }
  }
}